* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(223, 223, 223);
	font-family: Arial, sans-serif;
}

a {
	text-decoration: none;
}

.contenedor {
	margin: auto;
	width: 90%;
	max-width: 1200px;
}

main article {
	background: #fff;
	margin: 20px 0;
	padding: 20px;
	height: 1000px;
}

/* ------------------------- */
/* Enlaces del NAV */
/* ------------------------- */
.menu {
	background: rgb(38, 62, 35);
	padding: 5px 0;
	margin-bottom: 20px;
}

.menu .contenedor-botones-menu {
	/* display: flex; */
	display: none;
	justify-content: space-between;
}

.menu .contenedor-botones-menu button {
	font-size: 20px;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	display: inline-block;
	cursor: pointer;
	background: none;
}

.menu .contenedor-botones-menu button:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
	display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
	display: inline-block;
}

.menu .contenedor-enlaces-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .btn-departamentos {
	color: #fff;
	padding: 7px;
	border-radius: 3px;
	display: flex;
	align-items: flex-end;
	border: 1px solid transparent;
	font-size: 12px;
	cursor: default;
}

.menu .btn-departamentos i {
	margin-left: 20px;
	position: relative;
	bottom: 3px;
}

.menu .btn-departamentos:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .btn-departamentos span {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a {
	color: #ccc;
	border: 1px solid transparent;
	padding: 7px;
	border-radius: 3px;
	font-size: 14px;
}

.menu .contenedor-enlaces-nav .enlaces a:hover {
	border: 1px solid rgba(255,255,255,.4);
}

/* ------------------------- */
/* Grid */
/* ------------------------- */
.contenedor-grid {
	position: relative;
}

.grid {
	width: 100%;
	display: none;
	position: absolute;
	top: 5px;
	z-index: 1000;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
	display: grid;
}

.grid::before {
	content: "";
	display: block;
	background: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -5px;
	left: 65px;
}

.grid > div {
	background: #fff;
	box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}

/* ------------------------- */
/* Categorias */
/* ------------------------- */
.grid .btn-regresar {
	background: rgb(38, 62, 35);
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	margin: 20px;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.grid .btn-regresar i {
	margin-right: 10px;
}

.grid .categorias {
	grid-area: categorias;
	padding-top: 10px;
	min-height: 300px;
	overflow: auto;
}

.grid .categorias .subtitulo {
	display: none;
}

.grid .categorias a {
	color: #000;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .categorias a i {
	display: none;
}

.grid .categorias a:hover {
	color: rgb(10, 79, 100);
	font-weight: bold;
}

.grid .categorias a:hover i {
	display: inline-block;
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */
.grid .contenedor-subcategorias {
	grid-area: subcategorias;
}

.grid .subcategoria {
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.grid .subcategoria.activo {
	display: grid;
}

.grid .subcategoria img {
	width: 100%;
	vertical-align: top;
	height: 100%;
	object-fit: cover;
}

.grid .enlaces-subcategoria {
	padding-top: 10px;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}

.grid .enlaces-subcategoria a {
	color: #000;
	display: block;
	font-size: 14px;
	padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
	color: rgb(38, 62, 35);
}

.grid .subtitulo {
	font-size: 18px;
	font-weight: normal;
	color: rgb(10, 79, 100);
	padding: 10px 20px;
}

.grid .banner-subcategoria a {
	display: block;
	height: 100%;
}

.grid .galeria-subcategoria {
	display: flex;
	flex-wrap: wrap;
	align-content: start;
}

.grid .galeria-subcategoria a {
	width: 50%;
	height: 50%;
}

/* ------------------------- */
/* Mediaqueies */
/* ------------------------- */
@media screen and (max-width: 1000px) {
	.menu .contenedor-enlaces-nav {
		padding: 0 10px;
	}

	.menu .contenedor {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.menu .contenedor {
		width: 90%;
	}

	.menu .contenedor-botones-menu {
		display: flex;
	}

	.menu .contenedor-enlaces-nav {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		left: 0;
		background: rgb(38, 62, 35);
		height: 100vh;
		width: 80%;
		z-index: 2000;
		transition: .3s ease all;
		transform: translate(-100%);
	}

	.menu .contenedor-enlaces-nav.activo {
		transform: translate(0%);
	}

	.menu .btn-departamentos {
		width: 100%;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.menu .btn-departamentos i {
		position: static;
		margin-left: 20px;
		transform: rotate(-90deg);
	}

	.menu .enlaces {
		width: 100%;
	}

	.menu .enlaces a {
		display: block;
		margin: 10px 0;
		padding: 10px;
	}

	.grid {
		display: grid;
		transition: .3s ease all;
		transform: translateX(-100%);
		z-index: 3000;
		width: 80%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		grid-template-areas: "categorias categorias categorias categorias";
	}

	.grid.activo {
		transform: translateX(0%);
	}

	.grid::before {
		display: none;
	}

	.grid .btn-regresar {
		display: inline-block;
	}

	.grid .categorias .subtitulo {
		display: block;
	}

	.grid .contenedor-subcategorias {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .3s ease all;
		transform: translateX(-100%);
		overflow: auto;
	}

	.grid .contenedor-subcategorias.activo {
		transform: translateX(0%);
	}

	.grid .contenedor-subcategorias .subcategoria {
		grid-template-columns: 1fr;
	}

	.grid .contenedor-subcategorias .banner-subcategoria {
		width: 100%;
		min-height: 250px;
		max-height: 350px;
	}

	.grid .enlaces-subcategoria {
		min-height: 50vh;
		overflow: auto;
	}

	.grid .contenedor-subcategorias .galeria-subcategoria a {
		width: 25%;
		height: 100%;
	}
}

/* ------------------------------- */
/* Slider */
/* ------------------------------- */
.slider{
	position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
	flex-grow: 0;
	max-width: 100%;
	height: auto;
	max-height: 300px;
}

.slider img{
    max-width: 100%;
}

.container-all{
    position: relative;
	max-width: 1100px;
	width: 100%;
	max-height: 100% ;
    border-radius: 6px;
	overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(38, 62, 35);
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 15px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}

input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}


@keyframes autoplay{
    25%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    50%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    75%{
        transform: translate3d(calc(-100% * 2), 0, 0);
	}
	
	100%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
}

/* ----------------------- */
/* Titulo */
/* ----------------------- */
.contenedor h1 {
	font-size: 45px;
	color: rgb(38, 62, 35);
	position: relative;
	text-align: center;
	font-family: 'Lobster';
	text-shadow: #000 2px 2px 2px;
}



/* -------------------------- */
/* Footer */
/* -------------------------- */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.info-container {
	width: 100%;
	background: #f2f2f2;
	font-family: Raleway;
}

.info-main {
	width: 98%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	padding: 30px 200px;
}

.info-main h3 {
	color: rgb(38, 62, 35);
	font-size: 40px;
	text-align: center;
}

.info-main p {
	padding: 20px 0;
}


.info-main a {
	display: inline-block;
	background: rgb(38, 62, 35);
	color: #fff;
	text-decoration: none;
	padding: 12px 20px;
}

footer {
	width: 100%;
	font-family: Raleway;
}

.footer-container {
	width: 100%;
	background: #272727;
	color: rgb(35, 82, 29);
}

.footer-main {
	width: 98%;
	max-width: 1000px;
	margin: auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
}

.footer-main .footer-columna {
	width: calc(100% / 3);
	text-align: justify;
}


.footer-main .footer-columna:nth-child(2) {
	padding: 0 20px;
}

.footer-main .footer-columna h3 {
	font-size: 32px;
	color: #fff;
	margin-bottom: 20px;
}

.footer-main .footer-columna input[type="email"] {
	border: none;
	width: 100%;
	border: 1.5px solid rgb(10, 79, 100);
	font-size: 14px;
	padding: 10px;
	font-family: Raleway;
}

.footer-main .footer-columna input[type="submit"] {
	border: none;
	background: rgb(38, 62, 35);
	color: #fff;
	padding: 10px 40px;
	font-size: 18px;
	margin-top: 10px;
	cursor: pointer;
	font-family: Raleway;
}

.footer-main .footer-columna span p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Raleway;
}

.footer-copy-redes {
	width: 100%;
	background: rgb(38, 62, 35);
	border-top: 3px solid #fff;
}

.main-copy-redes {
	width: 98%;
	max-width: 1000px;
	padding: 15px 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.main-copy-redes .footer-copy {
	width: 70%;
	color: #fff;
}

.main-copy-redes .footer-redes {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.main-copy-redes .footer-redes a {
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius:50%;
	background: #fff;
	color: #000;
	text-align: center;
}

@media screen  and (max-width: 750px) {
	.info-main {
		padding: 30px 100px;
	}

	.footer-main .footer-columna {
		padding: 0 10px;
	}

	.footer-main .footer-columna h3 {
		font-size: 28px;
	}

	.footer-main .footer-columna p {
		font-size: 14px;
	}
}

@media screen  and (max-width: 640px) {
	.info-main {
		padding: 30px 30px;
	}

	.info-main h3 {
		font-size: 30px;
	}

	.footer-main {
		padding: 10px 0;
	}

	.footer-main .footer-columna {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}

	.footer-main .footer-columna h3 {
		margin-bottom: 5px;
	}

	.footer-main .footer-columna span {
		display: block;
	}
	
	.main-copy-redes .footer-copy {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.main-copy-redes .footer-redes {
		width: 80%;
		margin: auto;
	}

}

/* -------------------------- */
/* Targetas */
/* -------------------------- */
.wrap{
	max-width: 100%;
	margin: 50px auto;

	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

	position: relative;
}

.tarjeta-wrap{
	margin: 20px;
	-webkit-perspective: 800;
	perspective: 800;
}

.targeta a {
	font-size: 40px;
}

.wrap .boton {
	margin-top: 40%;

	padding: 0;
	position: absolute;
	background: #fff;
	width: 100%;
	height: 10%;

	text-align: center;
}

.wrap .boton a {
	text-align: center;
	font-size: 24px;

	color: rgb(38, 62, 35)
}

.tarjeta{
	width: 300px;
	height: 350px;
	background: rgb(38, 62, 35);
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: 100%;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
	color: #fff;
	font-family: "open sans";
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image: url(https://www.hagaloustedmismo.cl/images/proyectos/comorepararunabicicleta.jpg);
	background-size: cover;
}

.card2{
	background-image: url(https://www.bicicletasalvarito.com/wp-content/uploads/2019/06/lector-2.9.jpg);
	background-size: cover;
}

.card3{
	background-image: url(https://image.redbull.com/rbcom/052/2019-04-08/4b9e4b26-f431-4a71-80c7-300c357fd558/0100/0/1/mtb-kate-courtney-uci-xco-world-championships.jpg);
	background-size: cover;
}

@media screen and (max-width: 800px) {
	.wrap {
	display: block;
	position: relative;
	}

	.tarjeta {
		height: 200px;
		width: 100%;
	}

	.wrap .boton {
		margin-top: 11%;
	
		padding: 0;
		position: absolute;
		background: #fff;
		width: 100%;
		height: 15%;
	
		text-align: center;
	}
	
	.wrap .boton a {
		text-align: center;
		font-size: 24px;
	
		color: rgb(38, 62, 35)
	}
}